page-infor {
    #detail-list4{
        ion-item{
            padding-left:0;
        }
    }
    ion-content{
        font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    }
    ion-icon{
        color: #33CD5F;
    }
    
    h1, .h1 {
        font-size: 36px;
    }
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #000;
        font-weight: 500;
        font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
        line-height: 1.2;
    }
    .item-icon-left .icon {
        left: 11px;
    }
    .item-icon-left .icon, .item-icon-right .icon {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center; 
        position: absolute; 
        top: 0; 
        height: 100%; 
        font-size: 32px;
    }
    .item-icon-left {
        padding-left: 54px;
    }
    .item {
        border-color: #ddd;
        background-color: #fff;
        color: #444;
        position: relative;
        z-index: 2;
        display: block;
        margin: -1px;
        border-width: 1px;
        border-style: solid;
        font-size: 16px;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    ion-label{
        padding-left: 54px;
    }
    .my-custom-class {
        --background: #222;
        --spinner-color: #fff;
        color: #fff;
    }
    .vendor{
        padding: 10px;
        background-color: #00AEE6;
    }
    .vendor h2{
        color: #fff;
    }
    .transporters{
        margin-top: 5px;
        padding: 10px;
        background-color:#3b5998;
    }
    .transporters h2{
        color: #fff;
    }
    .distributor{
        margin-top: 5px;
        padding: 10px;
        background-color: #dd4b39;
    }
    .distributor h2{
        color: #fff;
    }
}
